
header {
	    position: relative;
        margin: 0px;
       }

.social {
	     position: absolute;
	     right: 0;
}
	
.logo img {
 	    width: 25%;
        height: auto;
	    float:left;
	    margin: 0;
}
nav {   
	position: absolute;
	top:200px;
    right: 20px;
    float:right;
	
    
}
h1 {
	display: inline-block;
	margin:0 auto;
	text-align: center;
	font:60px georgia, sans-serif;
	padding-top: 120px;
	padding-bottom: 120px;
}


	