*{
	margin: 0;
	padding: 0;
}
header {
	    position: relative;
        margin: 0px;
       }
.social {
	     position: absolute;
	     right: 0;
}   
.link {
	position: relative;
	left:0;
}
.logo img{
    width: 40%;
    height: auto;
    
}
h1 {
	display: inline-block;
	margin:0 auto;
	text-align: center;
	font:400% georgia, sans-serif;
	padding-top: 120px;
	padding-bottom: 120px;
}
nav {
    display: inline-block;
	margin:0 auto;
}
#video{
	width: 40%;
	
}
#usrform{
	width: 40%;
}